
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family:  sans-serif;

}

.container {
    max-width: 700px;
    width: 100%;
    background: #ecefef;
    padding: 25px 30px;
    border-radius: 5px;
    border: 3px;
    font-family:  sans-serif;
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    font-family:  sans-serif;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #0668c4;
    font-family:  sans-serif;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family:  sans-serif;
}

.container form .user-details .input-box {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    margin-bottom: 15px;
    font-family:  sans-serif;
}

.container form .user-details .input-box .details {
    font-weight: 500;
    margin-bottom: 5px;
    font-family:  sans-serif;
}

.container form .user-details .input-box .input {
    height: 30px;
    width: 100%;
    font-family:  sans-serif;
}

.container form .user-details .input-box::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 30px;
    width: 150px;
    font-family:  sans-serif;
}

.container {
    position: relative;
    font-family:  sans-serif;
}

.button {
    text-align: center;
    margin-top: 20px; /* Adjust margin-top as needed */
    font-family:  sans-serif;
}

.button input[type="submit"] {
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #4ab3e8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family:  sans-serif;
}

.button input[type="submit"]:hover {
    background-color: #6c6cf7;
    font-family:  sans-serif;
}
.title {
    margin-left: 270px;
    margin-bottom: 20px;
}